repos:
  - repo: /home/admin/pre-commit/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
  - repo: /home/admin/pre-commit/isort
    rev: 8.0.0
    hooks:
      - id: isort
  - repo: /home/admin/pre-commit/mirrors-yapf
    rev: v0.32.0
    hooks:
      - id: yapf
  - repo: /home/admin/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
      - id: double-quote-string-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ["--fix=lf"]
